.container {
    max-width: 1450px;
    margin: 20px auto;
    padding: 20px;
    background-color: hsla(0, 23%, 97%, 0.761); /* White background for visibility */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
  }
  
  .shadow-container {
    padding: 20px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  