<mat-sidenav-container class="sidenav-container">
  

  <!-- Main Content -->
  <mat-sidenav-content>
    <!-- Toolbar -->
    <mat-toolbar color="primary">
      <button mat-icon-button  aria-label="Toggle menu">
        <mat-icon>chat</mat-icon>
      </button>
      <span>AOSE Chatbot</span>
      <span class="example-spacer"></span>
    


    </mat-toolbar>

   
  </mat-sidenav-content>
</mat-sidenav-container>

 <!-- Routed Components -->
 <div class="container shadow-container">
  <router-outlet></router-outlet>
</div>